#navbar {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #000000;
    border-bottom: 1px solid #ccc;
}

.navitem {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    border-radius: 25px;
    background: #d3d3d3;
    padding: 20px;
    width: auto;
    height: auto;
}