html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: lightgreen;
    border-bottom: 1px solid #ccc;
    justify-content: center;
}

.navitem {
    font-size: 16px;
    display: inline;
    border-radius: 25px;
    background: #d3d3d3;
    padding: 20px;
    width: 85%;
    height: 80%;
    justify-content: center;
}

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}
