.navitem {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    border-radius: 25px;
    background: #d3d3d3;
    padding: 20px;
    width: auto;
    height: auto;
}