html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    height: auto;
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: lightgreen;
    border-bottom: 1px solid #ccc;
    justify-content: center;
}

.navitem {
    font-size: 16px;
    display: inline;
    border-radius: 25px;
    background: #d3d3d3;
    padding: 20px;
    width: 85%;
    height: 80%;
    justify-content: center;
}

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

.navitem:hover {
    background: lightskyblue;
    cursor: pointer;
}

div .box {
    width: 300px;
    border: 15px solid white;
    padding: 50px;
    margin: 20px;
}

.caption {
    justify-content: left;
    font-weight: bold;
    color: antiquewhite;
}